h1 {
    color: blue;
    font-size: 2em;
    text-decoration: underline;
    }

body {
  width: 1000px;
  margin: 0 auto;
}

p {
  background: white;
  border: 2px solid lightblue;
  padding: 5px;
  margin: 5px;
}

span {
  background: teal;
  border: 1px solid black;
}
